DATABASE_URL="postgresql://postgres:postgres@localhost:5432/amazon_parser?schema=public"

AMAZON_CATEGORY_SLUG=electronics-headphones

AMAZON_REVIEW_FETCH_MODE=playwright
AMAZON_PLAYWRIGHT_STORAGE_STATE_PATH=.amazon-playwright-state.json
AMAZON_PLAYWRIGHT_HEADLESS=false
AMAZON_LOGIN_EMAIL=koz.vad45@gmail.com
AMAZON_LOGIN_PASSWORD=89117092vVVV

AMAZON_MAX_REVIEW_PAGES=1
AMAZON_MIN_REQUEST_DELAY_MS=3000
AMAZON_MAX_REQUEST_DELAY_MS=8000
